@font-face {
    font-family: Raleway;
    src: url("Raleway-Bold.ttf") format("ttf");
}

* {
    overflow: hidden;
}

body {
    font-family: "Raleway";
    direction: ltr;
    background-image: url("../images/bg-desktop.png");
    background-color: hsl(229, 57%, 11%);
    font-size: 14px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    bottom: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
}
.container .parent {
    height: 100%;
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rectangle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 100px 10px 10px;
    width: 350px;
    height: 201px;
    background-color: #1e2d69;
    z-index: 1;
    margin-bottom: 115px;
}
.rectangle .square {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 129px;
    justify-content: space-between;
    margin-left: 43px;
}
.rectangle .logo {
    width: 176px;
    height: 40px;
}
.rectangle .logo img {
    width: 135px;
}
.rectangle #icon {
    width: 176px;
    height: 48px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.rectangle #icon ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rectangle #icon ul li {
    list-style: none;
    height: 48px;
    width: 48px;
    border-radius: 10px;
    background-color: #0c122c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.rectangle #icon ul li:hover {
    opacity: 0.5;
    transition: all 0.3s ease;
}
.storage {
    width: 540px;
    height: 201px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
    overflow: visible;
    margin-bottom: 118px;
    margin-right: 20px;
}
.storage .notify {
    width: 179px;
    height: 94px;
    position: absolute;
    top: 0;
    right: 44px;
    z-index: 1;
    font-family: "Raleway";
    font-weight: 700;
    margin-left: 3px;
}

.storage .notify .rec {
    width: 100%;
    height: 72px;
    background-color: #fff;
    border-radius: 10px 10px 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#first {
    font-size: 40px;
}
#second {
    font-size: 12px;
    color: rgb(162, 163, 163);
    letter-spacing: 1px;
    margin-left: 7px;
}
.box {
    width: 100%;
    max-height: 94px;
    height: 72px;
    position: relative;
    text-align: center;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease-in;
    top: 0;
    right: 0;
    border-radius: 10px 10px 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notify::after {
    content: "";
    position: absolute;
    transition: all 0.3s ease-in;
    bottom: 0px;
    right: 0;
    border-top: 22.66px solid white;
    border-bottom: 0 solid transparent;
    border-left: 22.66px solid transparent;
    border-right: 0 solid transparent;
}

.storage .notify .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22.66px 0 0 22.66px;
    border-color: #ffff transparent transparent transparent;
    right: 0;
    bottom: 0;
}
.storage .range {
    background-color: #1e2d69;
    width: 100%;
    height: 154px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    bottom: 0;
    position: absolute;
}

.storage label {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #dbd9ff;
    padding-left: 81px;
    font-weight: 100;
    font-family: "Raleway";
}
.storage .range label p {
    font-weight: 700;
}

.storage .progress {
    height: 20px;
    width: 459px;
    margin: 10px 0;
    background-color: #0f1b3d;
    border-radius: 20px;
    position: relative;
}

.progress-bar {
    height: 14px;
    border-radius: 30px;
    transition: 0.4s linear;
    transition-property: width, background-color;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    margin: 3px;
}

.progress-moved .progress-bar {
    width: 74%;
    background-image: linear-gradient(to right, #ffa197, #ff4a95);
    animation: progressAnimation 6s;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
        background-color: #ffa197;
    }
    100% {
        width: 74%;
        background-color: #ff4a95;
    }
}
.progress-pointer {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #fff;
    margin-right: 3px;
}
.storage .space {
    width: 461px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #dbd9ff;
    font-family: "Raleway";
    font-weight: 600;
}

/* Laptops and Desktops */

@media screen and (max-width: 992px) {
    .container .parent {
        justify-content: space-around;
        align-self: center;
        flex-direction: column;
        width: 768px;
    }
    .box {
        border-radius: 10px;
    }
    .notify::after {
        display: none;
    }
    .storage .progress {
        width: 307px;
    }
    .storage label {
        margin-bottom: 5px;
    }
}

/* Tablets */

@media screen and (max-width: 768px) {
    
    .notify::after {
        display: none;
    }
    .box {
        border-radius: 10px 10px 10px 10px;
    }
    .storage .progress {
        width: 307px;
    }
    .storage label {
        margin-bottom: 5px;
    }
}

/* Tablets and Large Phones */

@media screen and (max-width: 585px) {
    .container {
        flex-direction: row;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .container .parent {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .storage .range {
        width: 68%;
    }
    .storage .space {
        width: 301px;
    }
    .storage .notify {
        width: 140px;
        right: 115px;
    }
    .storage .notify .box .first,
    .second {
        font-size: 12px;
    }
    .notify::after {
        display: none;
    }
}

/* mobile view port */

@media only screen and (max-width: 515px) {
    body {
        background-image: url("../images/bg-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
        flex-direction: row;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .container .parent {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 71px;
    }
    .rectangle {
        width: 326px;
        margin-bottom: -8px;
    }
    .storage {
        margin-right: 5px;
    }
    .storage .range {
        width: 326px;
    }
    .storage .space {
        width: 301px;
    }
    .storage .progress {
        width: 262px;
    }
    .storage .space {
        width: 262px;
    }
    .storage label {
        padding-left: 96px;
    }
    .storage .notify {
        width: 179px;
        right: 188px;
        top: 177px;
    }
    .storage .notify .box .first,
    .second {
        font-size: 12px;
    }
    .notify::after {
        display: none;
    }
}
