:root {
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}
@font-face {
    font-family: Raleway;
    src: url("./fonts/Raleway-Bold.ttf") format("ttf"),
        url("./fonts/raleway-bold.woff") format("woff");
}
@font-face {
    font-family: Raleway-light;
    src: url("./fonts/Raleway-Medium.ttf");
}
* {
    overflow: hidden;
}
body {
    font-family: "Raleway";
    direction: ltr;
    background-image: url("../images/bg-desktop.png");
    background-color: hsl(229, 57%, 11%);
    font-size: 14px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    bottom: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
}
.container .parent {
    height: 100%;
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rectangle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 100px 10px 10px;
    width: 350px;
    height: 201px;
    background-color: var(--Dark-Blue);
    z-index: 1;
    margin-bottom: 115px;
}
.rectangle .square {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 129px;
    justify-content: space-between;
    margin-left: 43px;
}
.rectangle .logo {
    width: 176px;
    height: 40px;
}
.rectangle .logo img {
    width: 135px;
}
.rectangle #icon {
    width: 176px;
    height: 48px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.rectangle #icon ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rectangle #icon ul li {
    list-style: none;
    height: 48px;
    width: 48px;
    border-radius: 10px;
    background-color: var(--Very-Dark-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.rectangle #icon ul li:hover {
    opacity: 0.5;
}
.storage {
    width: 540px;
    height: 201px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
    overflow: visible;
    margin-bottom: 118px;
    margin-right: 20px;
}
.storage .notify {
    width: 179px;
    height: 94px;
    position: absolute;
    top: 0;
    right: 44px;
    z-index: 1;
    font-family: "Raleway";
    font-weight: 700;
    margin-left: 3px;
}

.storage .notify .rec {
    width: 100%;
    height: 72px;
    background-color: #fff;
    border-radius: 10px 10px 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#first {
    font-size: 40px;
}
#second {
    font-size: 12px;
    color: var(--Grayish-Blue);
    letter-spacing: 1px;
    margin-left: 7px;
}
.box {
    width: 100%;
    max-height: 94px;
    height: 72px;
    position: relative;
    text-align: center;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease-in;
    top: 0;
    right: 0;
    border-radius: 10px 10px 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notify::after {
    content: "";
    position: absolute;
    transition: all 0.3s ease-in;
    bottom: 0px;
    right: 0;
    border-top: 22.66px solid white;
    border-bottom: 0 solid transparent;
    border-left: 22.66px solid transparent;
    border-right: 0 solid transparent;
}

.storage .notify .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22.66px 0 0 22.66px;
    border-color: #ffff transparent transparent transparent;
    right: 0;
    bottom: 0;
}
.storage .range {
    background-color: var(--Dark-Blue);
    width: 100%;
    height: 154px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    bottom: 0;
    position: absolute;
}

.storage label {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--Pale-Blue);
    padding-left: 81px;
    font-family: Raleway-light;
}
.storage .range label p {
    font-family: Raleway;
}

.storage .progress {
    height: 20px;
    width: 459px;
    margin: 10px 0;
    background-color: var(--Very-Dark-Blue);
    border-radius: 20px;
    position: relative;
}

.progress-bar {
    height: 14px;
    border-radius: 30px;
    transition: 0.4s linear;
    transition-property: width, background-color;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    margin: 3px;
}

.progress-moved .progress-bar {
    width: 74%;
    background-image: linear-gradient(
        to right,
        hsl(6, 100%, 80%),
        hsl(335, 100%, 65%)
    );
    animation: progressAnimation 6s;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
        background-color: hsl(6, 100%, 80%);
    }
    100% {
        width: 74%;
        background-color: hsl(335, 100%, 65%);
    }
}
.progress-pointer {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #fff;
    margin-right: 3px;
}
.storage .space {
    width: 461px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: var(--Pale-Blue);
    font-family: "Raleway";
    font-weight: 600;
}

/* Laptops and Desktops */

@media screen and (max-width: 992px) {
    .rectangle {
        width: 468px;
        margin-right: 23px;
    }

    .container .parent {
        justify-content: space-around;
        align-self: center;
        flex-direction: column;
        width: 768px;
    }
    .storage .notify {
        top: 170px;
        right: 152px;
    }
    .box {
        border-radius: 10px;
    }
    .storage .notify::after {
        display: none;
    }
    .storage {
        width: 468px;
    }
    .storage .progress {
        width: 395px;
    }
    .storage label {
        margin-bottom: 5px;
    }
    .storage .space {
        width: 386px;
        margin-top: 8px;
    }
}

/* Tablets */

@media screen and (max-width: 768px) {
    .rectangle {
        margin-top: 30px;
        margin-right: 22px;
        width: 580px;
        height: 245px;
    }
    .storage {
        width: 580px;
    }
    .storage .notify {
        width: 191px;
        right: 215px;
        top: 172px;
    }
    .notify::after {
        display: none;
    }

    .box {
        border-radius: 10px 10px 10px 10px;
    }
    .storage .range {
        width: 100%;
    }

    .storage .space {
        width: 464px;
    }

    .storage .notify .box .first,
    .second {
        font-size: 12px;
    }

    .storage .progress {
        width: 470px;
    }
    .storage label {
        margin-bottom: 5px;
        width: 93%;
    }
}

/* Tablets and Large Phones */

@media screen and (max-width: 648px) {
    .container {
        flex-direction: row;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .container .parent {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .rectangle {
        margin-top: 30px;
        margin-right: 22px;
        width: 447px;
        height: 245px;
    }
    .storage {
        width: 580px;
    }
    .storage .range {
        width: 80%;
    }
    .storage .space {
        width: 406px;
    }
    .storage .notify {
        width: 140px;
        right: 226px;
    }
    .storage .notify .box .first,
    .second {
        font-size: 12px;
    }
    .notify::after {
        display: none;
    }
    .storage .range .progress {
        width: 414px;
    }
    .storage label {
        width: 105%;
    }
}

/* mobile view port */

@media only screen and (max-width: 515px) {
    body {
        background-image: url("../images/bg-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
        flex-direction: row;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .container .parent {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 71px;
    }
    .rectangle {
        width: 326px;
        height: 201px;
        margin-bottom: -8px;
        margin-left: 14px;
    }
    .storage {
        width: 362px;
        margin-right: 5px;
    }
    .storage .range .progress {
        width: 262px;
    }
    .storage .space {
        width: 301px;
    }
    .storage .range {
        width: 90%;
    }
    .storage .space {
        width: 260px;
    }
    .storage label {
        padding-left: 96px;
    }
    .storage .notify {
        width: 179px;
        right: 102px;
        top: 177px;
    }
    .storage .notify .box .first,
    .second {
        font-size: 12px;
    }
    .notify::after {
        display: none;
    }
}
