@font-face {
    font-family: Raleway;
    src: url("Raleway-Bold.ttf") format("ttf");
}

* {
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    font-family: "Raleway";
    direction: ltr;
    background-image: url("/images/bg-desktop.png");
    background-color: hsl(229, 57%, 11%);
    font-size: 14px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    bottom: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
}
.container .parent {
    height: 100%;
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rectangle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 100px 10px 10px;
    width: 350px;
    height: 201px;
    background-color: #1e2d69;
    z-index: 1;
    margin-bottom: 115px;
}
.rectangle .square {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 129px;
    justify-content: space-between;
    margin-left: 43px;
}
.rectangle .logo {
    width: 176px;
    height: 40px;
}
.rectangle .logo img {
    width: 135px;
}
.rectangle #icon {
    width: 176px;
    height: 48px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.rectangle #icon ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rectangle #icon ul li {
    list-style: none;
    height: 48px;
    width: 48px;
    border-radius: 10px;
    background-color: #0c122c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.rectangle #icon ul li:hover {
    opacity: 0.5;
    transition: all 0.3s ease;
}
.storage {
    width: 540px;
    height: 201px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
    overflow: visible;
    margin-bottom: 118px;
    margin-right: 20px;
}
.storage .notify {
    width: 179px;
    height: 94px;
    position: absolute;
    top: 0;
    right: 44px;
    z-index: 1;
    font-family: "Raleway";
    font-weight: 700;
    margin-left: 3px;
}

.storage .notify .rec {
    width: 100%;
    height: 72px;
    background-color: #fff;
    border-radius: 10px 10px 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#first {
    font-size: 40px;
}
#second {
    font-size: 12px;
    color: rgb(162, 163, 163);
    letter-spacing: 1px;
    margin-left: 7px;
}
.box {
    width: 100%;
    max-height: 94px;
    height: 72px;
    position: relative;
    text-align: center;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease-in;
    top: 0;
    right: 0;
    border-radius: 10px 10px 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notify::after {
    content: "";
    position: absolute;
    transition: all 0.3s ease-in;
    bottom: 0px;
    right: 0;
    border-top: 22.66px solid white;
    border-bottom: 0 solid transparent;
    border-left: 22.66px solid transparent;
    border-right: 0 solid transparent;
}

.storage .notify .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22.66px 0 0 22.66px;
    border-color: #ffff transparent transparent transparent;
    right: 0;
    bottom: 0;
}
.storage .range {
    background-color: #1e2d69;
    width: 100%;
    height: 154px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    bottom: 0;
    position: absolute;
}

.storage label {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #dbd9ff;
    padding-left: 81px;
    font-weight: 100;
    font-family: "Raleway";
}
.storage .range label p {
    font-weight: 700;
}

.storage .progress {
    height: 20px;
    width: 459px;
    margin: 10px 0;
    background-color: #0f1b3d;
    border-radius: 20px;
    position: relative;
}

.progress-bar {
    height: 14px;
    border-radius: 30px;
    transition: 0.4s linear;
    transition-property: width, background-color;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    margin: 3px;
}

.progress-moved .progress-bar {
    width: 74%;
    background-image: linear-gradient(to right, #ffa197, #ff4a95);
    animation: progressAnimation 6s;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
        background-color: #ffa197;
    }
    100% {
        width: 74%;
        background-color: #ff4a95;
    }
}
.progress-pointer {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #fff;
    margin-right: 3px;
}
.storage .space {
    width: 461px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #dbd9ff;
    font-family: "Raleway";
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
}
/* Laptops and Desktops */
@media screen and (max-width: 992px) {
}
/* Tablets */
@media screen and (max-width: 768px) {
}
/* Tablets and Large Phones */
@media screen and (max-width: 600px) {
}
/* mobile view port */
@media screen and (max-width: 376px) {
    .body {
        font-size: 13px;
        overflow: hidden;
        background-image: url(../images/bg-mobile.png);
    }

    .container {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
        height: 100%ّ;
        background-image: url(../images/bg-mobile.png);
    }
    .container .parent {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .rectangle {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px 10px 10px 10px;
        width: 326px;
        height: 201px;
        background-color: #1e2d69;
        z-index: 1;
    }
    .storage {
        width: 326px;
        height: 196px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        justify-content: center;
        align-items: center;
        background-color: #1e2d69;
        border-radius: 10px;
        background-color: transparent;
        position: relative;
        overflow: visible;
    }
    .storage input[type="range"] {
        height: 20px;
        width: 262px;
        margin: 10px 0;
        background-color: #0c122c;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
    }
    .storage [type="range"]::-webkit-slider-runnable-track {
        background: linear-gradient(
            to right,
            rgb(255, 161, 151),
            rgb(255, 74, 149)
        );
        height: 14px;
        width: 100%;
        border-radius: 8px;
    }
    .storage [type="range"]::-moz-range-track {
        background: linear-gradient(
            to right,
            rgb(255, 161, 151),
            rgb(255, 74, 149)
        );
        height: 14px;
        width: 100%;
        border-radius: 8px;
    }

    .storage [type="range"]::-webkit-slider-thumb {
        appearance: none;
        width: 10px;
        height: 10px;
        background: #fff;
        cursor: pointer;
    }
    .storage [type="range"]::-moz-range-thumb {
        width: 10px;
        height: 10px;
        background: #fff;
        cursor: pointer;
    }
    .storage label {
        width: 100%;
        display: flex;
        flex-direction: row;
        color: #fff;
        padding-left: 81px;
    }
    .storage .space {
        width: 262px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        color: #fff;
    }
    .storage .notify .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22.66px 22.66px 0 0;
        border-color: #ffff transparent transparent transparent;
        transform: rotate(90deg);
        right: 0;
        bottom: 0;
        display: none;
    }
    .storage .notify .rec {
        width: 100%;
        height: 72px;
        background-color: #fff;
        border-radius: 10px 10px 10px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
    .storage .notify {
        width: 179px;
        height: 94px;
        position: absolute;
        top: 168px;
        right: 82px;
        z-index: 2;
    }
    .storage .notify .rec {
        width: 100%;
        height: 72px;
        background-color: #fff;
        border-radius: 10px 10px 10px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .body {
        font-size: 13px;
        overflow: hidden;
    }
    .backGround {
        background-image: url(../images/bg-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        position: fixed;
    }
    .container {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
        height: 100%ّ;
    }
    .container .parent {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .rectangle {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px 10px 10px 10px;
        width: 326px;
        height: 201px;
        background-color: #1e2d69;
        z-index: 1;
    }
    .storage {
        width: 326px;
        height: 196px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        justify-content: center;
        align-items: center;
        background-color: #1e2d69;
        border-radius: 10px;
        background-color: transparent;
        position: relative;
        overflow: visible;
    }
    .storage input[type="range"] {
        height: 20px;
        width: 262px;
        margin: 10px 0;
        background-color: #0c122c;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
    }
    .storage [type="range"]::-webkit-slider-runnable-track {
        background: linear-gradient(
            to right,
            rgb(255, 161, 151),
            rgb(255, 74, 149)
        );
        height: 14px;
        width: 100%;
        border-radius: 8px;
    }
    .storage [type="range"]::-moz-range-track {
        background: linear-gradient(
            to right,
            rgb(255, 161, 151),
            rgb(255, 74, 149)
        );
        height: 14px;
        width: 100%;
        border-radius: 8px;
    }

    .storage [type="range"]::-webkit-slider-thumb {
        appearance: none;
        width: 10px;
        height: 10px;
        background: #fff;
        cursor: pointer;
    }
    .storage [type="range"]::-moz-range-thumb {
        width: 10px;
        height: 10px;
        background: #fff;
        cursor: pointer;
    }
    .storage label {
        width: 100%;
        display: flex;
        flex-direction: row;
        color: #fff;
        padding-left: 81px;
    }
    .storage .space {
        width: 262px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        color: #fff;
    }
    .storage .notify .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22.66px 22.66px 0 0;
        border-color: #ffff transparent transparent transparent;
        transform: rotate(90deg);
        right: 0;
        bottom: 0;
        display: none;
    }
    .storage .notify .rec {
        width: 100%;
        height: 72px;
        background-color: #fff;
        border-radius: 10px 10px 10px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
    .storage .notify {
        width: 179px;
        height: 94px;
        position: absolute;
        top: 168px;
        right: 82px;
        z-index: 2;
    }
    .storage .notify .rec {
        width: 100%;
        height: 72px;
        background-color: #fff;
        border-radius: 10px 10px 10px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
}
